/*** Add your styles here **/


:root{
    --fuentePpal:'Oxygen', sans-serif;
    --fuenteCrusiva:'Dancing Script', cursive;
    --blanco:#ffff;
    --negro:rgba(14, 8, 8, 0);
    --gris:#F4F6F6;
    --coralSuave:#F08080;
    --verdeSuave:#E8F8F5;
    --verde:#c7f3e9;

}


body{
    background-color: var(--gris);
}

.encabezado {
    font-size: 1.9rem;
    font-family: var(--fuentePpal);

}

.encabezado  span{
    font-family: var(--fuenteCrusiva);
    text-transform: uppercase;
    color: var(--coralSuave);

}

.sociales ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.sociales ul li{
    position: relative;
    display: inline-block;
}

/* .sociales ul li a::before{ */
.sociales ul li a{
    /* font-family: 'Segoe UI', Tahoma, Verdana, sans-serif; */
    font-family: var(--fuentePpal);
    display: inline-block;
    vertical-align: top;
    padding: 0.5rem;
    content: '\f08e';
    -webkit-font-smoothing: antialiased;
    font-size: 2.5rem;
    color: lightcoral;
}

.navegacion{
    background-color: var(--verde);
}
.navbar-light .navbar-toggler{
    background-color: lightcoral;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover{
    color: lightcoral;
    text-transform: uppercase;
}

.nav-link{
    color: lightcoral;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
    transition: background-color .4s  ease-in-out;
    font-family: 'Oxygen', sans-serif;
}

.nav-link:hover{
    background-color: lightcoral;
    color: white;
}

.logo-color{
    color: lightcoral;
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
}
.logo-color:hover{
    color: lightcoral;
    text-decoration: none;
}

.carousel-inner h3{
    color: lightcoral;
    background-color: white;
    font-family: 'Oxygen', sans-serif;
}

/* NUEVO SITIO */

.nuevo-sitio P{
    font-family: var(--fuenteCrusiva);
    font-size: 2rem;
}

/* .imagen-servicio{
    text-align: center;
} */

.imagen-servicio img{
    border: 5px solid var(--blanco);
    -webkit-transition: transform .4s ease;
    -ms-transition: transform .4s ease;;
    transition: transform .4s ease;

}

.imagen-servicio img:hover{
    -webkit-transform: scale(1.1) rotate(2deg);
    -ms-transform: scale(1.1) rotate(2deg);
    transform: scale(1.1) rotate(2deg);
}
.servicio-info{
    background-color: var(--blanco);
    margin-top: -5rem;
}

.servicio-info .btn-primary{
    border-radius: 0;
    background-color: var(--coralSuave);
    border: none;
}


/*TABLA*/
.horario{
    background-color: var(--verde);
}

.horario h2{
    font-size: 2rem;
}

.horario .table{
    border: 2px solid var(--blanco); 
}

.horario .table thead{
    background-color: var(--coralSuave);
}

/* .horario .table tr,
.horario .table td{
    border: none;
} */


.bg-horario{
    background-image: url(/img/bg-image-01.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}


/*PRODUCTOS*/

.productos .card{
    border: none;

}

.productos .card a{
    color: var(--coralSuave);
}

.productos .card a:hover{
    text-decoration: none;
}

.productos .card h3{
    font-size: 1.9rem;
}

/*RESERVAS*/
.citas{
    background-image: url(/img/bg_citas_01.png);
    background-repeat: no-repeat;
    background-position: center center;
    /* background-size: cover; */
    min-height: 750px;
    background-attachment: fixed;
    color: var(--coralSuave);

}

@media (min-with: 992px){
    .citas{
        background-size: cover;
    }
}

.citas h3{
    font-size: 2.5rem;
    font-family: var(--fuenteCrusiva);
    background-color: var(--gris);
}
.citas p{
    color: var(--coralSuave);
    background-color: var(--gris);
    border: none;
    font-size: 0.8rem;
}

.citas a{
    color: var(--gris);
    background-color: var(--coralSuave);
    border: none;
    border-radius: 0;
}

.citas a:hover{
    color: var(--gris);
    background-color: var(--coralSuave);
}