/*** Add your styles here **/

.sociales ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.sociales ul li{
    position: relative;
    display: inline-block;
}

/* .sociales ul li a::before{ */
.sociales ul li a{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    display: inline-block;
    vertical-align: top;
    padding: 0.5rem;
    content: '\f08e';
    -webkit-font-smoothing: antialiased;
    font-size: 2.5rem;
    color: lightcoral;
}

.navegacion{
    background-color: lightcyan;
}
.navbar-light .navbar-toggler{
    background-color: lightcoral;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover{
    color: lightcoral;
    text-transform: uppercase;
}

.nav-link{
    color: lightcoral;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
    transition: background-color .4s  ease-in-out;
}

.nav-link:hover{
    background-color: lightcoral;
    color: white;
}

.logo-color{
    color: lightcoral;
    text-decoration: none;
}
.logo-color:hover{
    color: lightcoral;
    text-decoration: none;
}

.carousel-inner h3{
    color: lightcoral;
    background-color: white;
}

